<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#aa00ff">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="theme-color" content="#ffffff">

<style type="text/css">
    a {
        text-decoration: none;
    }

    .search-content .search-input {
        border: 1px solid #afafaf;
        padding: 0.25em 0.5em;
    }

    .page__footer {
        position: relative;
        background-color: transparent;
        border-top: 1px solid #f3f3f3;
        margin-top: 2em;
    }

    .page__footer-follow li {
        text-transform: none;
    }
</style>

<!-- end custom head snippets -->
