<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>

    <!-- meta:start -->
    {% include meta.html %}
    <!-- meta:end -->

    <!-- stylesheet:start -->
    {% include stylesheet.html %}
    <!-- stylesheet:end -->

</head>
<body>

<!-- page-header:start -->
{% include page-header.html %}
<!--page-header:end-->

<!-- main-content:start -->
{% include main-content.html %}
<!-- main-content:end -->

<script src="/assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<!-- geopattern -->
{% include geopattern.html %}

{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}

</body>
</html>